.footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 123px;
}

.footer__title {
    position: relative;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #100E0B;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.footer__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #57a773;
    width: 48px;
    height: 1px;
}

.footer__container {
    justify-content: space-between;
}

.footer__link {
    /* font-family: 'SFProDisplay', sans-serif; */
    font-weight: 500;
    font-size: 13px;
    color: #959ea6;
    display: inline-block;
    margin-bottom: 12px;
}